@charset "UTF-8";
/***********************************************************************************\
*                                                                                   *
*                 oooo                         .               oooo                 *
*                 `888                       .o8               `888                 *
*     oooo  oooo   888   .ooooo.   .oooo.o .o888oo oooo    ooo  888   .ooooo.       *
*     `888  `888   888  d88' `88b d88(  "8   888    `88.  .8'   888  d88' `88b      *
*      888   888   888  888   888 `"Y88b.    888     `88..8'    888  888ooo888      *
*      888   888   888  888   888 o.  )88b   888 .    `888'     888  888    .o      *
*      `V88V"V8P' o888o `Y8bod8P' 8""888P'   "888"     .8'     o888o `Y8bod8P'      *
*                                                  .o..P'                           *
*                                                  `Y8P'                            *
*                                                                                   *
*                              ulostyle framework                                   *
*                                Version 0.0.1                                      *
*                    https://github.com/henryust12/ulostyle                         *
*                        Licensed under MIT Open Source                             *
*                                                                                   *
 \*********************************************************************************/
.latar-us-merah-gelap-1 {
  background-color: #ea1c0d;
}

.latar-us-merah-terang-1 {
  background-color: #f77066;
}

.latar-us-merah-gelap-2 {
  background-color: #ba160a;
}

.latar-us-merah-terang-2 {
  background-color: #f99d97;
}

.latar-us-merah-gelap-3 {
  background-color: #891008;
}

.latar-us-merah-terang-3 {
  background-color: #fccbc7;
}

.latar-us-merah-gelap-4 {
  background-color: #590b05;
}

.latar-us-merah-terang-4 {
  background-color: #fff8f7;
}

.latar-us-merah {
  background-color: #f44336;
}

.latar-us-merahjambu-gelap-1 {
  background-color: #c1134e;
}

.latar-us-merahjambu-terang-1 {
  background-color: #ee4c83;
}

.latar-us-merahjambu-gelap-2 {
  background-color: #930e3b;
}

.latar-us-merahjambu-terang-2 {
  background-color: #f27ba3;
}

.latar-us-merahjambu-gelap-3 {
  background-color: #640a29;
}

.latar-us-merahjambu-terang-3 {
  background-color: #f7a9c4;
}

.latar-us-merahjambu-gelap-4 {
  background-color: #360516;
}

.latar-us-merahjambu-terang-4 {
  background-color: #fbd8e4;
}

.latar-us-merahjambu {
  background-color: #e91e63;
}

.latar-us-ungu-gelap-1 {
  background-color: #771e86;
}

.latar-us-ungu-terang-1 {
  background-color: #bc37d3;
}

.latar-us-ungu-gelap-2 {
  background-color: #52145d;
}

.latar-us-ungu-terang-2 {
  background-color: #ca61dc;
}

.latar-us-ungu-gelap-3 {
  background-color: #2d0b33;
}

.latar-us-ungu-terang-3 {
  background-color: #d88be5;
}

.latar-us-ungu-gelap-4 {
  background-color: #080209;
}

.latar-us-ungu-terang-4 {
  background-color: #e6b5ee;
}

.latar-us-ungu {
  background-color: #9c27b0;
}

.latar-us-ungupekat-gelap-1 {
  background-color: #512e90;
}

.latar-us-ungupekat-terang-1 {
  background-color: #8259cb;
}

.latar-us-ungupekat-gelap-2 {
  background-color: #3b216a;
}

.latar-us-ungupekat-terang-2 {
  background-color: #9f80d7;
}

.latar-us-ungupekat-gelap-3 {
  background-color: #261543;
}

.latar-us-ungupekat-terang-3 {
  background-color: #bda7e3;
}

.latar-us-ungupekat-gelap-4 {
  background-color: #10091c;
}

.latar-us-ungupekat-terang-4 {
  background-color: #daceef;
}

.latar-us-ungupekat {
  background-color: #673ab7;
}

.latar-us-indigo-gelap-1 {
  background-color: #32408f;
}

.latar-us-indigo-terang-1 {
  background-color: #606fc7;
}

.latar-us-indigo-gelap-2 {
  background-color: #252f69;
}

.latar-us-indigo-terang-2 {
  background-color: #8591d5;
}

.latar-us-indigo-gelap-3 {
  background-color: #171e44;
}

.latar-us-indigo-terang-3 {
  background-color: #abb4e2;
}

.latar-us-indigo-gelap-4 {
  background-color: #0a0d1e;
}

.latar-us-indigo-terang-4 {
  background-color: #d1d6ef;
}

.latar-us-indigo {
  background-color: #3f51b5;
}

.latar-us-biru-gelap-1 {
  background-color: #0c7cd5;
}

.latar-us-biru-terang-1 {
  background-color: #51adf6;
}

.latar-us-biru-gelap-2 {
  background-color: #0960a5;
}

.latar-us-biru-terang-2 {
  background-color: #82c4f8;
}

.latar-us-biru-gelap-3 {
  background-color: #064475;
}

.latar-us-biru-terang-3 {
  background-color: #b2dbfb;
}

.latar-us-biru-gelap-4 {
  background-color: #042844;
}

.latar-us-biru-terang-4 {
  background-color: #e3f2fd;
}

.latar-us-biru {
  background-color: #2196f3;
}

.latar-us-birumuda-gelap-1 {
  background-color: #0286c2;
}

.latar-us-birumuda-terang-1 {
  background-color: #2ebcfc;
}

.latar-us-birumuda-gelap-2 {
  background-color: #02638f;
}

.latar-us-birumuda-terang-2 {
  background-color: #60ccfd;
}

.latar-us-birumuda-gelap-3 {
  background-color: #01405d;
}

.latar-us-birumuda-terang-3 {
  background-color: #92dcfe;
}

.latar-us-birumuda-gelap-4 {
  background-color: #011d2a;
}

.latar-us-birumuda-terang-4 {
  background-color: #c5ecfe;
}

.latar-us-birumuda {
  background-color: #03a9f4;
}

.latar-us-cyan-gelap-1 {
  background-color: #008fa1;
}

.latar-us-cyan-terang-1 {
  background-color: #08e3ff;
}

.latar-us-cyan-gelap-2 {
  background-color: #00626e;
}

.latar-us-cyan-terang-2 {
  background-color: #3be9ff;
}

.latar-us-cyan-gelap-3 {
  background-color: #00343b;
}

.latar-us-cyan-terang-3 {
  background-color: #6eefff;
}

.latar-us-cyan-gelap-4 {
  background-color: #000708;
}

.latar-us-cyan-terang-4 {
  background-color: #a1f4ff;
}

.latar-us-cyan {
  background-color: #00bcd4;
}

.latar-us-teal-gelap-1 {
  background-color: #00635a;
}

.latar-us-teal-terang-1 {
  background-color: #00c9b6;
}

.latar-us-teal-gelap-2 {
  background-color: #00302c;
}

.latar-us-teal-terang-2 {
  background-color: #00fce4;
}

.latar-us-teal-gelap-3 {
  background-color: black;
}

.latar-us-teal-terang-3 {
  background-color: #30ffec;
}

.latar-us-teal-gelap-4 {
  background-color: black;
}

.latar-us-teal-terang-4 {
  background-color: #63fff0;
}

.latar-us-teal {
  background-color: #009688;
}

.latar-us-hijau-gelap-1 {
  background-color: #3d8b40;
}

.latar-us-hijau-terang-1 {
  background-color: #6ec071;
}

.latar-us-hijau-gelap-2 {
  background-color: #2d682f;
}

.latar-us-hijau-terang-2 {
  background-color: #92cf94;
}

.latar-us-hijau-gelap-3 {
  background-color: #1e441f;
}

.latar-us-hijau-terang-3 {
  background-color: #b5dfb7;
}

.latar-us-hijau-gelap-4 {
  background-color: #0e210f;
}

.latar-us-hijau-terang-4 {
  background-color: #d9eeda;
}

.latar-us-hijau {
  background-color: #4caf50;
}

.latar-us-hijaumuda-gelap-1 {
  background-color: #71a436;
}

.latar-us-hijaumuda-terang-1 {
  background-color: #a4d070;
}

.latar-us-hijaumuda-gelap-2 {
  background-color: #577d2a;
}

.latar-us-hijaumuda-terang-2 {
  background-color: #bcdc97;
}

.latar-us-hijaumuda-gelap-3 {
  background-color: #3c571d;
}

.latar-us-hijaumuda-terang-3 {
  background-color: #d5e9bd;
}

.latar-us-hijaumuda-gelap-4 {
  background-color: #223110;
}

.latar-us-hijaumuda-terang-4 {
  background-color: #edf6e3;
}

.latar-us-hijaumuda {
  background-color: #8bc34a;
}

.latar-us-lemon-gelap-1 {
  background-color: #b2c022;
}

.latar-us-lemon-terang-1 {
  background-color: #d8e464;
}

.latar-us-lemon-gelap-2 {
  background-color: #89951a;
}

.latar-us-lemon-terang-2 {
  background-color: #e3eb90;
}

.latar-us-lemon-gelap-3 {
  background-color: #616913;
}

.latar-us-lemon-terang-3 {
  background-color: #eef3bb;
}

.latar-us-lemon-gelap-4 {
  background-color: #393e0b;
}

.latar-us-lemon-terang-4 {
  background-color: #f9fbe6;
}

.latar-us-lemon {
  background-color: #cddc39;
}

.latar-us-kuning-gelap-1 {
  background-color: #ffe608;
}

.latar-us-kuning-terang-1 {
  background-color: #fff06e;
}

.latar-us-kuning-gelap-2 {
  background-color: #d4be00;
}

.latar-us-kuning-terang-2 {
  background-color: #fff5a1;
}

.latar-us-kuning-gelap-3 {
  background-color: #a19100;
}

.latar-us-kuning-terang-3 {
  background-color: #fffbd4;
}

.latar-us-kuning-gelap-4 {
  background-color: #6e6300;
}

.latar-us-kuning-terang-4 {
  background-color: white;
}

.latar-us-kuning {
  background-color: #ffeb3b;
}

.latar-us-amber-gelap-1 {
  background-color: #d39e00;
}

.latar-us-amber-terang-1 {
  background-color: #ffce3a;
}

.latar-us-amber-gelap-2 {
  background-color: #a07800;
}

.latar-us-amber-terang-2 {
  background-color: #ffdb6d;
}

.latar-us-amber-gelap-3 {
  background-color: #6d5200;
}

.latar-us-amber-terang-3 {
  background-color: #ffe7a0;
}

.latar-us-amber-gelap-4 {
  background-color: #3a2c00;
}

.latar-us-amber-terang-4 {
  background-color: #fff4d3;
}

.latar-us-amber {
  background-color: #ffc107;
}

.latar-us-jingga-gelap-1 {
  background-color: #cc7a00;
}

.latar-us-jingga-terang-1 {
  background-color: #ffad33;
}

.latar-us-jingga-gelap-2 {
  background-color: #995b00;
}

.latar-us-jingga-terang-2 {
  background-color: #ffc166;
}

.latar-us-jingga-gelap-3 {
  background-color: #663d00;
}

.latar-us-jingga-terang-3 {
  background-color: #ffd699;
}

.latar-us-jingga-gelap-4 {
  background-color: #331e00;
}

.latar-us-jingga-terang-4 {
  background-color: #ffeacc;
}

.latar-us-jingga {
  background-color: #ff9800;
}

.latar-us-jinggapekat-gelap-1 {
  background-color: #ee3900;
}

.latar-us-jinggapekat-terang-1 {
  background-color: #ff7e55;
}

.latar-us-jinggapekat-gelap-2 {
  background-color: #bb2d00;
}

.latar-us-jinggapekat-terang-2 {
  background-color: #ffa588;
}

.latar-us-jinggapekat-gelap-3 {
  background-color: #882100;
}

.latar-us-jinggapekat-terang-3 {
  background-color: #ffcbbb;
}

.latar-us-jinggapekat-gelap-4 {
  background-color: #551400;
}

.latar-us-jinggapekat-terang-4 {
  background-color: #fff2ee;
}

.latar-us-jinggapekat {
  background-color: #ff5722;
}

.latar-us-cokelat-gelap-1 {
  background-color: #593f35;
}

.latar-us-cokelat-terang-1 {
  background-color: #996b5b;
}

.latar-us-cokelat-gelap-2 {
  background-color: #392822;
}

.latar-us-cokelat-terang-2 {
  background-color: #af8778;
}

.latar-us-cokelat-gelap-3 {
  background-color: #19120f;
}

.latar-us-cokelat-terang-3 {
  background-color: #c2a398;
}

.latar-us-cokelat-gelap-4 {
  background-color: black;
}

.latar-us-cokelat-terang-4 {
  background-color: #d5c0b8;
}

.latar-us-cokelat {
  background-color: #795548;
}

.latar-us-abuabu-gelap-1 {
  background-color: #858585;
}

.latar-us-abuabu-terang-1 {
  background-color: #b8b8b8;
}

.latar-us-abuabu-gelap-2 {
  background-color: #6b6b6b;
}

.latar-us-abuabu-terang-2 {
  background-color: #d1d1d1;
}

.latar-us-abuabu-gelap-3 {
  background-color: #525252;
}

.latar-us-abuabu-terang-3 {
  background-color: #ebebeb;
}

.latar-us-abuabu-gelap-4 {
  background-color: #383838;
}

.latar-us-abuabu-terang-4 {
  background-color: white;
}

.latar-us-abuabu {
  background-color: #9e9e9e;
}

.latar-us-abuabubiru-gelap-1 {
  background-color: #4b626d;
}

.latar-us-abuabubiru-terang-1 {
  background-color: #7b96a3;
}

.latar-us-abuabubiru-gelap-2 {
  background-color: #36474f;
}

.latar-us-abuabubiru-terang-2 {
  background-color: #99aeb8;
}

.latar-us-abuabubiru-gelap-3 {
  background-color: #212c31;
}

.latar-us-abuabubiru-terang-3 {
  background-color: #b7c6cd;
}

.latar-us-abuabubiru-gelap-4 {
  background-color: #0d1012;
}

.latar-us-abuabubiru-terang-4 {
  background-color: #d5dee2;
}

.latar-us-abuabubiru {
  background-color: #607d8b;
}

:root {
  --us-merah: #f44336;
  --us-merahjambu: #e91e63;
  --us-ungu: #9c27b0;
  --us-ungupekat: #673ab7;
  --us-indigo: #3f51b5;
  --us-biru: #2196f3;
  --us-birumuda: #03a9f4;
  --us-cyan: #00bcd4;
  --us-teal: #009688;
  --us-hijau: #4caf50;
  --us-hijaumuda: #8bc34a;
  --us-lemon: #cddc39;
  --us-kuning: #ffeb3b;
  --us-amber: #ffc107;
  --us-jingga: #ff9800;
  --us-jinggapekat: #ff5722;
  --us-cokelat: #795548;
  --us-abuabu: #9e9e9e;
  --us-abuabubiru: #607d8b;
}

:root {
  --us-transparan: transparent;
}

/* 

  Reset css 

*/
*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

:where(body) {
  margin: 0;
}

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(nav li)::before {
  content: "​";
  float: left;
}

:where(pre) {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace, monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  margin: 0;
  resize: vertical;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where([aria-busy="true" i]) {
  cursor: progress;
}

:where([aria-controls]) {
  cursor: pointer;
}

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

:where(button, input, select, textarea) {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

:where(select) {
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center/1em;
  border-radius: 0;
  padding-right: 1em;
}

:where(select[multiple]) {
  background-image: none;
}

:where([type="color" i], [type="range" i]) {
  border-width: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.transparan-90 {
  opacity: 0.1;
}

.transparan-80 {
  opacity: 0.2;
}

.transparan-70 {
  opacity: 0.3;
}

.transparan-60 {
  opacity: 0.4;
}

.transparan-50 {
  opacity: 0.5;
}

.transparan-40 {
  opacity: 0.6;
}

.transparan-30 {
  opacity: 0.7;
}

.transparan-20 {
  opacity: 0.8;
}

.transparan-10 {
  opacity: 0.9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header1 {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container1 {
  display: grid;
  grid-template-areas: "header header header header header header" "left left middle middle right right" "footer footer footer footer footer footer";
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left1,
.middle1,
.right1 {
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left1 {
  grid-area: left;
}

/* Style the middle column */
.middle1 {
  grid-area: middle;
}

/* Style the right column */
.right1 {
  grid-area: right;
}

/* Style the footer */
.footer1 {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container {
    grid-template-areas: "header header header header header header" "left left left left left left" "middle middle middle middle middle middle" "right right right right right right" "footer footer footer footer footer footer";
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header2 {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container2 {
  display: grid;
  grid-template-areas: "header header header header header header" "left middle middle middle middle right" "footer footer footer footer footer footer";
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left2,
.middle2,
.right2 {
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left2 {
  grid-area: left;
}

/* Style the middle column */
.middle2 {
  grid-area: middle;
}

/* Style the right column */
.right2 {
  grid-area: right;
}

/* Style the footer */
.footer2 {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container2 {
    grid-template-areas: "header header header header header header" "left left left left left left" "middle middle middle middle middle middle" "right right right right right right" "footer footer footer footer footer footer";
  }
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav3 {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav3 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav3 a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content3 {
  background-color: #ddd;
  padding: 10px;
  height: 200px;
  /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer3 {
  background-color: #f1f1f1;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav4 {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav4 a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav4 a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content4 {
  margin-left: 200px;
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

.bp-row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=bp-col-] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.bp-header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.bp-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bp-menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bp-menu li:hover {
  background-color: #0099cc;
}

.bp-aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bp-footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*=bp-col-] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .bp-col-s-1 {
    width: 8.33%;
  }

  .bp-col-s-2 {
    width: 16.66%;
  }

  .bp-col-s-3 {
    width: 25%;
  }

  .bp-col-s-4 {
    width: 33.33%;
  }

  .bp-col-s-5 {
    width: 41.66%;
  }

  .bp-col-s-6 {
    width: 50%;
  }

  .bp-col-s-7 {
    width: 58.33%;
  }

  .bp-col-s-8 {
    width: 66.66%;
  }

  .bp-col-s-9 {
    width: 75%;
  }

  .bp-col-s-10 {
    width: 83.33%;
  }

  .bp-col-s-11 {
    width: 91.66%;
  }

  .bp-col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .bp-col-1 {
    width: 8.33%;
  }

  .bp-col-2 {
    width: 16.66%;
  }

  .bp-col-3 {
    width: 25%;
  }

  .bp-col-4 {
    width: 33.33%;
  }

  .bp-col-5 {
    width: 41.66%;
  }

  .bp-col-6 {
    width: 50%;
  }

  .bp-col-7 {
    width: 58.33%;
  }

  .bp-col-8 {
    width: 66.66%;
  }

  .bp-col-9 {
    width: 75%;
  }

  .bp-col-10 {
    width: 83.33%;
  }

  .bp-col-11 {
    width: 91.66%;
  }

  .bp-col-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=ulostyle.css.map */
